.calculator {
  padding: 16px;
  border-top: 1px solid var(--color-brand-3);
  grid-gap: 16px;
}
.calculator__result__heading {
  margin-bottom: .5em;
}

.calculator__label {
  margin-bottom: .5em;
  display: block;
}