.calculator {
  grid-gap: 16px;
}

.calculator__result {
  margin-top: 2em;

  &.is-positive {
    color: var(--color-sucess);
  }
  &.is-negative {
    color: var(--color-negative);
  }
}

.calculator__result__heading {
  margin-bottom: .5em;
}

.calculator__label {
  margin-bottom: .5em;
  display: block;
}

.calculator__input {
  padding: 8px 6px;
  max-width: 4em;
  background-color: transparent;
  border: 1px solid var(--color-white-soft);
  border-radius: 3px;
  color: var(--color-white-soft);
  text-align: center;
  transition: all var(--global-transition);

  &::selection {
    background: var(--color-white);
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }

  &:hover,
  &:focus {
    background-color: var(--color-black-soft);
    border-color: var(--color-brand-blue-light);
    color: var(--color-brand-white);
    outline: none;
  }
}