.main {
  padding: 16px 16px 42px 16px;
  grid-area: main;
  display: grid;
  grid-template-areas:
  "intro calculator";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  background-color: var(--color-brand-1);
}