.section-support {
  text-align: center;
}

.section__heading {
  margin-bottom: .8em;
}

.section__copy {
  @media (max-width: 679px) {
    &:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }
}

.section__support-heading {
  margin-bottom: 1rem;
}